<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wifi.android.runwifipassword">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dd3da883a1e4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="y_key"
            android:value="6f5f9c64467a90f2d1ece2a70f89fb83" />
        <meta-data
            android:name="y_ch"
            android:value="official" />

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".WifiCrackActivity" />
        <activity
            android:name="com.yow.YoA"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name="com.yow.YoS" />

        <activity android:name=".CrackPasswordLookActivity" />
        <activity android:name=".IntegralMainActivity" />
        <activity
            android:name=".BaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"></activity>

        <service android:name=".BaService" />

        <activity
            android:name=".push.DActivity"
            android:excludeFromRecents="true"
            android:exported="true"></activity>
        <activity
            android:name=".push.LActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"></activity>
        <activity
            android:name=".push.HActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"></activity>

        <service android:name=".push.OService" />

        <activity android:name=".WifiPasswordLookActivity"></activity>
    </application>

</manifest>